@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  --foreground: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
    --foreground: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
